<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-section-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <picture>
          <source
            srcset="
              /img/catalog/garmin-fenix7x-dsk.webp    1x,
              /img/catalog/garmin-fenix7x-dsk-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/catalog/garmin-fenix7x-tab.webp    1x,
              /img/catalog/garmin-fenix7x-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/garmin-fenix7x-mob.webp    1x,
              /img/catalog/garmin-fenix7x-mob-2x.webp 2x
            "
            media="(max-width:
          768px)"
          />
          <img
            src="/img/catalog/garmin-fenix7x-dsk.webp"
            alt="Garmin-Fenix-7X-Pro"
            class="catalog-list-item-picture"
            width="292"
            height="292"
          />
        </picture>
        <div class="item-text-card">
          <h3 class="item-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="item-price">€500</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            srcset="
              /img/catalog/garmin-marq-dsk.webp    1x,
              /img/catalog/garmin-marq-dsk-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/catalog/garmin-marq-tab.webp    1x,
              /img/catalog/garmin-marq-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/garmin-marq-mob.webp    1x,
              /img/catalog/garmin-marq-mob-2x.webp 2x
            "
            media="(max-width: 768px)"
          />
          <img
            src="/img/catalog/garmin-marq-dsk.webp"
            alt="Garmin-Marq-Athlete "
            class="catalog-list-item-picture"
            width="292"
            height="292"
          />
        </picture>
        <div class="item-text-card">
          <h3 class="item-title">Garmin Marq Athlete</h3>
          <p class="item-price">€450</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            srcset="
              /img/catalog/garmin-descent-dsk.webp    1x,
              /img/catalog/garmin-descent-dsk-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/catalog/garmin-descent-tab.webp    1x,
              /img/catalog/garmin-descent-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/garmin-descent-mob.webp    1x,
              /img/catalog/garmin-descent-mob-2x.webp 2x
            "
            media="(max-width: 768px)"
          />
          <img
            src="/img/catalog/garmin-descent-dsk.webp"
            alt="Garmin-Descent-MK1 "
            class="catalog-list-item-picture"
            width="292"
            height="292"
          />
        </picture>
        <div class="item-text-card">
          <h3 class="item-title">Garmin Descent MK1</h3>
          <p class="item-price">€680</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            srcset="
              /img/catalog/garmin-2d-dsk.webp    1x,
              /img/catalog/garmin-2d-dsk-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/catalog/garmin-2d-tab.webp    1x,
              /img/catalog/garmin-2d-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/garmin-2d-mob.webp    1x,
              /img/catalog/garmin-2d-mob-2x.webp 2x
            "
            media="(max-width: 768px)"
          />
          <img
            src="/img/catalog/garmin-2d-dsk.webp"
            alt="Garmin-D2-Delta-PX"
            class="catalog-list-item-picture"
            width="292"
            height="292"
          />
        </picture>
        <div class="item-text-card">
          <h3 class="item-title">Garmin D2 Delta PX</h3>
          <p class="item-price">€380</p>
        </div>
      </li>
      <li class="catalog-list-item mobile-hidden">
        <picture>
          <source
            srcset="
              /img/catalog/garmin-fenix-6-dsk.webp    1x,
              /img/catalog/garmin-fenix-6-dsk-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/catalog/garmin-fenix-6-tab.webp    1x,
              /img/catalog/garmin-fenix-6-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/catalog/garmin-fenix-6-dsk.webp"
            alt="Garmin-Fenix6-Pro-Solar"
            class="catalog-list-item-picture"
            width="292"
            height="292"
          />
        </picture>
        <div class="item-text-card">
          <h3 class="item-title">Garmin Fenix 6 Pro Solar</h3>
          <p class="item-price">€400</p>
        </div>
      </li>
      <li class="catalog-list-item mobile-hidden">
        <picture>
          <source
            srcset="
              /img/catalog/tube-watch-dsk.webp    1x,
              /img/catalog/tube-watch-dsk-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/catalog/tube-watch-tab.webp    1x,
              /img/catalog/tube-watch-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/catalog/tube-watch-dsk.webp"
            alt="Tube-Watch-S42"
            class="catalog-list-item-picture"
            width="292"
            height="292"
          />
        </picture>
        <div class="item-text-card">
          <h3 class="item-title">Tube Watch S42 Date Steel With Black Case</h3>
          <p class="item-price">€395</p>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog-button">Show more</button>
  </div>
</section>
