<section class="hero container">
  <div class="hero-block-0">
    <div class="hero-block-1">
      <h1 class="hero-title">
        Welcome to our <span class="hero-title-part">collection</span> of
        premium watches
      </h1>
      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-block-2">
      <div class="hero-persons">
        <img
          class="person-image person-image-1 mobile-image"
          src="../img/hero/hero-person-1-mob.jpg"
          srcset="
            ../img/hero/hero-person-1-mob.jpg    1x,
            ../img/hero/hero-person-1-mob-2x.jpg 2x
          "
          alt=""
          width="44"
          height="44"
        />
        <img
          class="person-image person-image-1 tablet-image"
          src="../img/hero/hero-person-1-tab.jpg"
          srcset="
            ../img/hero/hero-person-1-tab.jpg    1x,
            ../img/hero/hero-person-1-tab-2x.jpg 2x
          "
          alt=""
          width="56"
          height="56"
        />
        <img
          class="person-image person-image-1 desk-image"
          src="../img/hero/hero-person-1-dsk.jpg"
          srcset="
            ../img/hero/hero-person-1-dsk.jpg    1x,
            ../img/hero/hero-person-1-dsk-2x.jpg 2x
          "
          alt=""
          width="60"
          height="60"
        />

        <img
          class="person-image person-image-2 mobile-image"
          src="../img/hero/hero-person-2-mob.jpg"
          srcset="
            ../img/hero/hero-person-2-mob.jpg    1x,
            ../img/hero/hero-person-2-mob-2x.jpg 2x
          "
          alt=""
          width="44"
          height="44"
        />
        <img
          class="person-image person-image-2 tablet-image"
          src="../img/hero/hero-person-2-tab.jpg"
          srcset="
            ../img/hero/hero-person-2-tab.jpg    1x,
            ../img/hero/hero-person-2-tab-2x.jpg 2x
          "
          alt=""
          width="56"
          height="56"
        />
        <img
          class="person-image person-image-2 desk-image"
          src="../img/hero/hero-person-2-dsk.jpg"
          srcset="
            ../img/hero/hero-person-2-dsk.jpg    1x,
            ../img/hero/hero-person-2-dsk-2x.jpg 2x
          "
          alt=""
          width="60"
          height="60"
        />

        <img
          class="person-image person-image-3 mobile-image"
          src="../img/hero/hero-person-3-mob.jpg"
          srcset="
            ../img/hero/hero-person-3-mob.jpg    1x,
            ../img/hero/hero-person-3-mob-2x.jpg 2x
          "
          alt=""
          width="44"
          height="44"
        />
        <img
          class="person-image person-image-3 tablet-image"
          src="../img/hero/hero-person-3-tab.jpg"
          srcset="
            ../img/hero/hero-person-3-tab.jpg    1x,
            ../img/hero/hero-person-3-tab-2x.jpg 2x
          "
          alt=""
          width="56"
          height="56"
        />
        <img
          class="person-image person-image-3 desk-image"
          src="../img/hero/hero-person-3-dsk.jpg"
          srcset="
            ../img/hero/hero-person-3-dsk.jpg    1x,
            ../img/hero/hero-person-3-dsk-2x.jpg 2x
          "
          alt=""
          width="60"
          height="60"
        />
      </div>
      <a class="hero-link" href="#">Scroll down</a>
    </div>
  </div>
  <img
    class="hero-image mobile-image"
    src="../img/hero/hero-img-mob.jpg"
    srcset="../img/hero/hero-img-mob.jpg 1x, ../img/hero/hero-img-mob-2x.jpg 2x"
    alt="watches"
    width="335"
    height="366"
  />

  <img
    class="hero-image tablet-image"
    src="../img/hero/hero-img-tab.jpg"
    srcset="../img/hero/hero-img-tab.jpg 1x, ../img/hero/hero-img-tab-2x.jpg 2x"
    alt="watches"
    width="704"
    height="520"
  />
  <img
    class="hero-image desk-image"
    src="../img/hero/hero-img-dsk.jpg"
    srcset="../img/hero/hero-img-dsk.jpg 1x, ../img/hero/hero-img-dsk-2x.jpg 2x"
    alt="watches"
    width="1150"
    height="500"
  />
</section>
