<section class="section-sale" id="section-sale">
  <div><h2 class="section-sale-title">Sale</h2></div>
  <div class="section-sale-all-content">
    <div class="section-sale-wrapper-one">
      <!---------------- ul img ------------------------>
      <div class="sale-block-one">
        <ul class="sale-list-block">
          <li class="sale-list-item">
            <div class="sale-list-block-item-img">
              <picture>
                <source
                  media="(min-width: 1158px)"
                  srcset="
                    ../img/sale/sale-mini-choose-mode-tab-dsk-2x.webp 2x,
                    ../img/sale//sale-mini-choose-mode-tab-dsk.webp   1x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../img/sale/sale-mini-choose-mode-tab-dsk-2x.webp 2x,
                    ../img/sale//sale-mini-choose-mode-tab-dsk.webp   1x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ../img/sale/sale-mini-choose-mode-mob-2x.webp 2x,
                    ../img/sale/sale-mini-choose-mode-mob.webp    1x
                  "
                />
                <img
                  src="../img/sale//sale-mini-choose-mode-tab-dsk.webp"
                  alt="mini-choose-mode"
                  width="132px"
                  height="132px"
                />
              </picture>
            </div>
          </li>

          <li class="sale-list-item">
            <div class="sale-list-block-item-img">
              <picture>
                <source
                  media="(min-width: 1158px)"
                  srcset="
                    ../img/sale/sale-mini-sleep-mode-tab-dsk-2x.webp 2x,
                    ../img/sale/sale-mini-sleep-mode-tab-dsk.webp    1x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../img/sale/sale-mini-sleep-mode-tab-dsk-2x.webp 2x,
                    ../img/sale/sale-mini-sleep-mode-tab-dsk.webp    1x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ../img/sale/sale-mini-sleep-mode-mob-2x.webp 2x,
                    ../img/sale/sale-mini-sleep-mode-mob.webp    1x
                  "
                />
                <img
                  src="../img/sale/sale-mini-sleep-mode-tab-dsk.webp"
                  alt="mini-sleep-mode"
                  width="132px"
                  height="132px"
                />
              </picture>
            </div>
          </li>

          <li class="sale-list-item">
            <div class="sale-list-block-item-img">
              <picture>
                <source
                  media="(min-width: 1158px)"
                  srcset="
                    ../img/sale/sale-mini-side-tab-dsk-2x.webp 2x,
                    ../img/sale/sale-mini-side-tab-dsk.webp    1x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../img/sale/sale-mini-side-tab-dsk-2x.webp 2x,
                    ../img/sale/sale-mini-side-tab-dsk.webp    1x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ../img/sale/sale-mini-side-mob-2x.webp 2x,
                    ../img/sale/sale-mini-side-mob.webp    1x
                  "
                />
                <img
                  src="../img/sale/sale-mini-side-tab-dsk.webp"
                  alt="mini-side"
                  width="132px"
                  height="132px"
                />
              </picture>
            </div>
          </li>

          <li class="sale-list-item">
            <div class="sale-list-block-item-img">
              <picture>
                <source
                  media="(min-width: 1158px)"
                  srcset="
                    ../img/sale/sale-mini-back-tab-dsk-2x.webp 2x,
                    ../img/sale/sale-mini-back-tab-dsk.webp    1x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../img/sale/sale-mini-back-tab-dsk-2x.webp 2x,
                    ../img/sale/sale-mini-back-tab-dsk.webp    1x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ../img/sale/sale-mini-back-mob-2x.webp 2x,
                    ../img/sale/sale-mini-back-mob.webp    1x
                  "
                />
                <img
                  src="../img/sale/sale-mini-back-tab-dsk.webp"
                  alt="mini-back"
                  width="132px"
                  height="132px"
                />
              </picture>
            </div>
          </li>
        </ul>
      </div>

      <!------------------ big photo --------------------->
      <div class="sale-item-two">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../img/sale/sale-main-img-dsk-2x.webp 2x,
              ../img/sale/sale-main-img-dsk.webp    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/sale/sale-main-img-tab-2x.webp 2x,
              ../img/sale/sale-main-img-tab.webp    1x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/sale/sale-main-img-mob-2x.webp 2x,
              ../img/sale/sale-main-img-mob.webp    1x
            "
          />
          <img
            src="../img/sale/sale-main-img-dsk.webp"
            alt="main"
            width="428px"
            height="585px"
          />
        </picture>
      </div>
    </div>
    <!------------ product-details -------------------->
    <div class="section-sale-wrapper-two">
      <div class="product-details">
        <div class="product-details-title">
          <h3 class="product-details-title-item">
            MARQ® Commander (Gen 2) – Carbon Edition
          </h3>
          <p class="product-tag">Product tag: 705687</p>
        </div>
        <div class="sale-price-and-description">
          <div class="price-container">
            <div class="current-price-border">
              <span class="current-price">€1500</span>
            </div>
            <div class="old-price-border">
              <span class="old-price">€3000</span>
            </div>
          </div>
          <p class="sale-description">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </p>
        </div>

        <div class="product-advantages">
          <div class="tags">
            <span class="tag">Fused carbon fiber</span>
          </div>
          <div class="tags">
            <span class="tag">Grade-5 Titanium</span>
          </div>
          <div class="tags">
            <span class="tag">Athlete</span>
          </div>
          <div class="tags">
            <span class="tag">Golfer</span>
          </div>
          <div class="tags">
            <span class="tag">Commander</span>
          </div>
          <div class="tags">
            <span class="tag">Adventurer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
