.ad-section {
  padding-bottom: 60px;
}

.wrapper {
  padding: 60px 28px;
  border-radius: 30px;
  background-image: url(/img/advertisement/adv-bckg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

@media (min-resolution: 192dpi) {
  .wrapper {
    background-image: url(/img/advertisement/adv-bckg-mob-2x.jpg);
  }
}

.ad-text {
  width: 279px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  color: #fbfbfb;
}

.ad-text-accent {
  color: #fbfbfb80;
}

.ad-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 48px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  cursor: pointer;
  font-weight: 500;
  color: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .ad-section {
    padding-bottom: 80px;
  }

  .wrapper {
    padding: 80px 64px;
    background-image: url(/img/advertisement/adv-bckg-tab.jpg);

    gap: 32px;
  }

  @media (min-resolution: 192dpi) {
    .wrapper {
      background-image: url(/img/advertisement/adv-bckg-tab-2x.jpg);
    }
  }

  .ad-text {
    width: 576px;
    font-size: 48px;
    line-height: 0.9;
  }
}

@media only screen and (min-width: 1280px) {
  .ad-section {
    padding-bottom: 100px;
  }

  .wrapper {
    padding: 83px 80px;
    background-image: url(/img/advertisement/adv-bckg-dsk.jpg);

    flex-wrap: nowrap;
    justify-content: space-between;
  }

  @media (min-resolution: 192dpi) {
    .wrapper {
      background-image: url(/img/advertisement/adv-bckg-dsk-2x.jpg);
    }
  }

  .ad-text {
    width: 690px;
  }

  .ad-link {
    flex-shrink: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .ad-link:hover,
  .ad-link:focus {
    background-color: #fbfbfb;
    color: #0c0c0c;
  }
}