.catalog {
  padding-top: 60px;
  padding-bottom: 60px;
}

.catalog-section-title {
  font-family: inherit;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.catalog-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.catalog-list-item {
  padding: 24px 28px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 100%;
  background-color: #f3f3f3;
}

.catalog-list-item-picture {
  margin-bottom: 10px;
}

.item-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.item-price {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.mobile-hidden {
  display: none;
}

.catalog-button {
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background-color: #3350e9;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: #1f3cd4;
}


@media screen and (min-width: 768px) {

  .catalog {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .catalog-section-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }

  .catalog-list {
    column-gap: 16px;
    row-gap: 32px;
    margin-bottom: 0;

  }

  .catalog-list-item {
    padding: 24px 32px;
    width: calc((100% - 16px)/2)
  }


  .catalog-button {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }

  .item-title {
    font-size: 20px;
    line-height: 1;
  }

  .item-text-card {
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 1280px) {
  .catalog {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .catalog-list {
    column-gap: 23px;
  }

  .catalog-list-item {
    width: calc((100% - 46px)/3);
  }

  .item-text-card {
    max-width: 304px;
  }

}