.footer-container {
    color: #fbfbfb;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    padding-bottom: 32px;
    padding-top:30px
}

@media only screen and (min-width: 768px) {
    .footer-container {
        padding-top:40px
    }
}

@media only screen and (min-width: 1280px) {
    .footer-container {
        position: relative;
        padding-left: 32px;
        padding-right: 32px;
        padding-top:50px
    }
}

.footer-content {
    padding: 40px 28px 28px;
    background-color: #0c0c0c;
    border-radius:30px
}

@media only screen and (min-width: 768px) {
    .footer-content {
        padding:40px 40px 28px
    }
}

.footer-logo-link {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom:20px
}

.footer-logo {
    font-size: 16px;
    line-height: normal;
    letter-spacing:-.02em
}

@media only screen and (min-width: 768px) {
    .footer-logo {
        font-size:20px
    }
}

.footer-socials-list {
    display: flex;
    gap:10px
}

@media only screen and (min-width: 768px) {
    .footer-socials-list {
        margin-bottom:0
    }
}

.footer-social-icon {
    fill: #fbfbfbcc;
    border-radius: 10px;
    border: 1px solid rgba(251, 251, 251, .1);
    width: 34px;
    height: 34px;
    padding: 8px;
    transition:.25s cubic-bezier(.4, 0, .2, 1)
}

.footer-social-icon:hover, .footer-social-icon:focus {
    fill:#fbfbfb
}

.footer-socials {
    width: 34px;
    height:34px
}

.footer-phone-number {
    display: flex;
    color: #fbfbfb;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -.02em;
    text-transform: uppercase;
    border-radius: 16px;
    border: 1px solid rgba(251, 251, 251, .2);
    max-width: 152px;
    height: 44px;
    padding: 14px;
    flex-shrink: 0;
    margin-bottom: 40px;
    transition:.25s cubic-bezier(.4, 0, .2, 1)
}

.footer-phone-number:hover, .footer-phone-number:focus {
    text-decoration: underline;
    color:#fbfbfbcc
}

@media only screen and (min-width: 768px) {
    .footer-phone-number {
        min-width: 160px;
        height: 48px;
        font-size: 14px;
        line-height: 1.28;
        margin-bottom:0
    }
}

.footer-text {
    max-width: 279px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -.02em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:92px
}

@media only screen and (min-width: 768px) {
    .footer-text {
        font-size: 28px;
        line-height: 1.14;
        max-width: 524px;
        margin-bottom:100px
    }
}

@media only screen and (min-width: 1280px) {
    .footer-text {
        position: absolute;
        top: 90px;
        right:367px
    }
}

.footer-nav-list {
    display: flex;
    width: 147px;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 8px;
    column-gap: 16px;
    flex-wrap:wrap
}

.footer-nav-list:hover, .footer-nav-list:focus {
    color: #fbfbfbcc;
}

@media only screen and (min-width: 768px) {
    .footer-nav-list {
        flex-wrap: nowrap;
        width: 400px;
        height: 18px;
        align-items: flex-end;
        gap: 19px;
        text-align: center;
        white-space:nowrap;
    }
}

@media only screen and (min-width: 1280px) {
    .footer-nav-list {
        gap: 40px;
        width:505px;
    }
}

.footer-nav-container {
    display: flex;
    align-items: flex-start;
    gap: 49px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: .02em;
    margin-bottom: 48px;
    position:relative
}

@media only screen and (min-width: 768px) {
    .footer-nav-container {
        font-size: 14px;
        line-height: 1.28;
        gap: 62px;
        margin-bottom:56px
    }
}

@media only screen and (min-width: 1280px) {
    .footer-nav-container {
        justify-content:space-between
    }
}

.footer-nav-link:hover, .footer-nav-link:focus {
    text-decoration: underline;
    color: #fbfbfbcc;
    transition:.25s cubic-bezier(.4, 0, .2, 1)
}

.footer-adress {
    display: flex;
    width: 83px;
    text-align:left
}

@media only screen and (min-width: 768px) {
    .footer-adress {
        width:162px
    }
}

.footer-down-content {
    color: #fbfbfb80;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing:-.02em
}

@media only screen and (min-width: 768px) {
    .footer-down-content {
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        line-height:1.28
    }
}

.footer-down-content > p {
    margin-bottom:8px
}

@media only screen and (min-width: 768px) {
    .footer-down-content > p {
        margin-right:159px
    }
}

@media only screen and (min-width: 1280px) {
    .footer-down-content > p {
        margin-right: 671px;
        margin-bottom:0
    }
}

.footer-down-content > a:hover, .footer-down-content > a:focus {
    text-decoration: underline;
    color: #fbfbfbcc;
    transition:.25s cubic-bezier(.4, 0, .2, 1)
}

.confidential-link {
    margin-right:20px
}

.footer-nav-container:after {
    content: " ";
    border: 1px solid rgba(251, 251, 251, .1);
    position: absolute;
    bottom: -24px;
    width:100%
}

@media only screen and (min-width: 768px) {
    .footer-nav-container:after {
        bottom:-28px
    }
}

@media only screen and (min-width: 768px) {
    .footer-row {
        display: flex;
        justify-content: space-between;
        margin-bottom:86px
    }
}

@media only screen and (min-width: 1280px) {
    .footer-row {
        display: flex;
        justify-content: space-between;
        margin-bottom:126px
    }
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #242424;
    background-color: #ffffffde;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%
}

