.body {
  position: relative;
}
.header {
  background-color: #fbfbfb;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.btn-menu {
  width: 34px;
  height: 34px;
  background-color: #fbfbfb;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.btn-menu-svg:hover {
  stroke: slateblue;
}
.btn-menu-svg:focus {
  stroke: slateblue;
}
.btn-menu-svg {
  stroke: #0c0c0c;
  width: 100%;
}
.btn-menu-use {
  width: 100%;
  height: 100%;
}

.menu-header {
  display: none;
}
.header-nav {
  display: none;
}
.social-media {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .header-container {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .btn-menu {
    width: 40px;
    height: 40px;
  }
  .header-logo {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
    margin: 0 auto;
  }
  .header-container {
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .btn-menu {
    display: none;
  }
  .header-nav {
    display: flex;
  }
  .header-ul {
    display: flex;
    gap: 40px;
  }
  .header-link-menu {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #0c0c0c;
    position: relative;
  }

  .header-link-menu::before {
    content: '';
    position: absolute;
    display: flex;
    left: 40%;
    width: 8px;
    height: 8px;
    bottom: -10px;
    background-color: #3350e9;
    border-radius: 50%;
    transform: scaleX(0);
    transition: transorm 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link-menu:hover::before {
    transform: scaleX(1);
  }
  .header-link-menu:focus::before {
    transform: scaleX(1);
  }
  .social-media {
    display: flex;
    gap: 10px;
  }
  .social-media-btn {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    width: 38px;
    height: 38px;
    background-color: #fbfbfb;
    padding: 8px;
    opacity: 0.8;
  }
  .media-svg {
    fill: #0c0c0c;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-media-btn:hover .media-svg {
    fill: #3350e9;
  }
}
.modal-menu {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 200px;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: url(../img/mobile-menu/mob-menu-bckg-2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 9999;
}
.modal-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.nav-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 34px;
  max-height: 34px;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-svg-btn {
  stroke: #fbfbfb;
  width: 34px;
  height: 34px;
}
.nav-svg-btn:hover {
  stroke: grey;
}
.nav-svg-btn:focus {
  stroke: grey;
}
.modal-nav {
  padding-top: 240px;
  padding-bottom: 260px;
}
.modal-ul {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.modal-li {
  text-align: center;
}
.modal-link-menu {
  position: relative;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
}
.modal-link-menu::before {
  content: '';
  position: absolute;
  display: flex;
  left: 40%;
  bottom: -10px;
  width: 8px;
  height: 8px;
  background-color: #3350e9;
  border-radius: 50%;
  transform: scaleX(0);
  transition: transorm 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-link-menu:hover::before {
  transform: scaleX(1);
}
.modal-link-menu:focus::before {
  transform: scaleX(1);
}

.modal-social-media {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.modal-social-media-btn {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  width: 34px;
  height: 34px;
  background-color: inherit;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}
.modal-media-svg {
  fill: #fbfbfb;
  opacity: 0.8;
}
.modal-media-svg:hover {
  opacity: 1;
}
.modal-media-svg:focus {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .modal-menu {
    min-width: 330px;
    background: url(/img/mobile-menu/tab-menu-bckg-2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    right: 0;
  }
  .nav-close-btn {
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
  }
  .nav-svg-btn {
    width: 40px;
    height: 40px;
  }
  .modal-social-media {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .modal-social-media-btn {
    width: 36px;
    height: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  .modal-menu {
    display: none;
  }
}
