.reviews-section {
    padding-bottom: 60px;
}

.review-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.0;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}

.review-author {
    margin-bottom: 8px;
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0c0c0c;
}

.review-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
}


.review-container {
    border-radius: 30px;
    padding: 32px;
    max-width: 335px;
    background-color: #f3f3f3;
}

.review-list {
    display: flex;
    justify-content: center;
}

/* images */

.author-picture {
    display: block;
    max-width: 100%;
    margin: auto;
    top: 32px;
    border-radius: 100px;
}

@media (max-width: 767px) {

    .review-block-two,
    .review-block-three {
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 1279px) {
    .reviews-section {
        padding-bottom: 80px;
    }

    .review-title {
        font-size: 48px;
        line-height: 0.92;
        margin-bottom: 40px;
    }

    .review-author {
        font-size: 18px;
        line-height: 1.1;
    }

    .review-text {
        font-size: 16px;
        line-height: 1.25;
    }


    .review-container {
        border-radius: 30px;
        padding: 32px 36px;
        width: 344px;
        background-color: #f3f3f3;
    }

    .author-picture {
        top: 32px;
        border-radius: 100px;
    }
}

@media (max-width: 1279px) {

    .review-block-three {
        display: none;
    }
}


@media (min-width: 1280px) {
    .reviews-section {
        padding-bottom: 100px;
    }

    .review-title {
        font-size: 48px;
        margin-bottom: 40px;
    }

    .review-author {
        margin-bottom: 8px;
        margin-top: 24px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.1;
    }

    .review-text {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 20px;
    }


    .review-container {
        border-radius: 30px;
        padding: 32px 36px;
        width: 370px;
        background-color: #f3f3f3;
    }


    .review-list {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    .author-picture {
        top: 32px;
        border-radius: 100px;
    }

}